<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      body {
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
          Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
      }

      a {
        color: white;
        text-decoration: none;
      }

      .btn {
        padding-top: 9px !important;
        text-size-adjust: 100%;
        color-scheme: light;
        -webkit-font-smoothing: antialiased;
        margin: 0;
        overflow: visible;
        text-transform: none;
        -webkit-box-flex: 0;
        flex-grow: 0;
        padding: 0;
        appearance: none;
        text-align: left;
        text-decoration: none;
        box-sizing: border-box;
        height: 36px;
        padding-left: 18px;
        padding-right: 18px;
        -webkit-tap-highlight-color: transparent;
        display: inline-block;
        width: auto;
        border-radius: 4px;
        font-weight: 600;
        position: relative;
        line-height: 1;
        font-size: 14px;
        user-select: none;
        cursor: pointer;
        border: 1px solid transparent;
        background-color: #228be6;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <p style="font-weight: bold">Hello, <%= @user.first_name %></p>
    <p>
      Thanks for creating a Jivemed account. To continue, please confirm your
      email address by clicking the button below:
    </p>
    <a class="btn" href="<%= @url %>" target="_blank">Confirm Email Address</a>
    <p>
      This link will be active for 30 min from the time this email was sent.
    </p>
    <div>Jivemed</div>
    <div>Support Team</div>
  </body>
</html>
